@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --fundo-escuro: #171717;
    --borda-clara: #1E1D1D;
    --cor-primaria: #27AE60;
    --cor-cinza: #828282;
}

* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: var(--fundo-escuro);
}

/* Margin */
.my-10 {
    margin: 100px 0;
}

/* Text colors */
.text-gray {
    color: var(--cor-cinza);
}

/* Text size */
.fs-small {
    font-size: 18px;
}

.fs-large {
    font-size: 48px;
}

/* Buttons */
.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.btn-primary:hover {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.btn-outline-secondary {
    border-color: white;
    color: white;
}

.btn-outline-secondary:hover {
    background-color: white;
    border-color: white;
    color: var(--fundo-escuro);
}


img.perfil {
    border-radius: 50%;
    border: 2px solid var(--borda-clara);
    padding: 30px;
}

.about-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.item-about {
    font-family: DM Sans;
    width: 144px;
    height: 62px;
    left: 648px;
    top: 884px;

    font-style: normal;
    font-weight: bolder;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #FFFFFF;
}

.item-about-text {
    font-size: 18px;
    color: #FFFFFF;
}

.btns-flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: #FFFFFF;
}

/**/
.circle-external {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background-color: #212121;
    border-radius: 50%;
}

.circle-internal {
    width: 12px;
    height: 12px;
    background-color: #27AE60;
    border-radius: 50%;
}

/**/
.item-fn {
    position: absolute;
    width: 86px;
    height: 23px;
    left: 270px;
    top: 1238px;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
}
/**/
.item-ea {
    position: absolute;
    width: 124px;
    height: 23px;
    left: 532px;
    top: 1238px;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
}
/**/
.item-tw {
    position: absolute;
    width: 62px;
    height: 23px;
    left: 838px;
    top: 1238px;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
}
/**/
.item-ph {
    position: absolute;
    width: 55px;
    height: 23px;
    left: 1122px;
    top: 1238px;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 23px;

    color: #FFFFFF;
}
/**/
.item-title {
    position: absolute;
    width: 222px;
    height: 60.03px;
    left: 607px;
    top: 1407px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #FFFFFF;
}
/**/
.bloco-flex-container {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 80px;
    top: 230%;
}
/**/
.item-block {
    width: 349px;
    height: 241px;
    background: #212121;
}
/**/
.item-bloc2 {
    width: 350px;
    height: 241px;
   
    background: #212121;
    border: 1px solid #000000;
    box-sizing: border-box;
}
/**/
.item-bloc3 {
    width: 349px;
    height: 241px;

    background: #212121;
}
/**/
.item-img1 {
    left: 4.28%;
    right: 90.84%;
    top: 14.94%;
    bottom: 65.15%;

    /*background: #27AE60;*/
}
/**/
.item-img2 {
    left: 8.3%;
    right: 56.34%;
    top: 14.94%;
    bottom: 65.15%;

    /*background: #27AE60;*/
}
/**/
.item-img3 {
    left: 8.4%;
    right: 21.75%;
    top: 14.94%;
    bottom: 65.15%;

    /*background: #27AE60;*/
}
/**/
.item-block-description{
    font-weight: 500px;
    color: #535353;
}

.border-bottom-primary {
    border-bottom: 5px solid var(--cor-primaria);
}


/**/
.item-img-desc2{
    position: absolute;
    width: 229px;
    height: 94px;
    left: 50px;
    top: 111px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: 500px;
    font-size: 36px;
    line-height: 47px;

    color: #535353;    
}
/**/
.item-img-desc3{
    position: absolute;
    width: 116px;
    height: 94px;
    left: 50px;
    top: 111px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: 500px;
    font-size: 36px;
    line-height: 47px;

    color: #535353;
}
/**/
.myskills {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

/**/
.ms-flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 235px;
    background: #212121;
    border: 1px solid #333333;
    box-sizing: border-box;
}
/**/
.item-percent {
    font-weight: bold;
    font-size: 72px;
    line-height: 94px;
    color: #4F4F4F;
}

/**/
.item-skperc {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 31px;
    color: #27AE60;
}
/**/

/**/
.git-flex-container {
    display: flex;
    justify-content: space-evenly;
}
/**/
.item-placeh-name{
    width: 42px;
    height: 18px;
    left: 6px;
    top: 0px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #4F4F4F;

    position: absolute;
    width: 358px;
    height: 0px;
    left: 343px;
    top: 2586px;

    border: 1px solid #4F4F4F;
}
/**/
.item-placeh-lname{
    position: absolute;
    width: 83px;
    height: 18px;
    left: 400px;
    top: 0px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #4F4F4F;
    
    position: absolute;
    width: 358px;
    height: 0px;
    left: 738px;
    top: 2586px;

    border: 1px solid #4F4F4F;
}
/**/
.item-placeh-email{
    position: absolute;
    width: 42px;
    height: 18px;
    left: 6px;
    top: 30px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #4F4F4F;

    position: absolute;
    width: 358px;
    height: 0px;
    left: 343px;
    top: 2661px;

    border: 1px solid #4F4F4F;
}
/**/
.item-placeh-pnumb{
    position: absolute;
    width: 107px;
    height: 18px;
    left: 400px;
    top: 30px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    color: #4F4F4F;

    position: absolute;
    width: 358px;
    height: 0px;
    left: 738px;
    top: 2661px;

    border: 1px solid #4F4F4F;
}
/**/
.item-textarea textarea {
    position: absolute;
    width: 750px;
    height: 109px;
    left: 350px;
    top: 2800px;

    border: 1px solid #4F4F4F;
    background: #171717;
    box-sizing: border-box;
}
/**/
.btn-sn button{
    position: absolute;
    width: 143px;
    height: 42px;
    left: 650px;
    top: 2950px;

    background: #27AE60;
}

/**/
.OyindamolaCopyHigh {
    text-align: center;
    height: 18px;
    font-weight: 500px;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}



/* Form */
.display-flex {
    display: flex;
}

.width-50 {
    width: 50%;
}

.input-custom {
    width: 100%;
    background-color: transparent;
    margin: 30px 0;
    border: 0;
    border-bottom: 1px solid #4F4F4F;
}

.textarea-custom {
    width: 100%;
    background-color: transparent;
    margin: 30px 0;
    border: 1px solid #4F4F4F;
}

.spacing-2 {
    margin-right: 50px;
}

.button {
    background: #27AE60;
    padding: 10px 30px;
    color: white;
    border: none;
}

.center {
    text-align: center;
}